{% extends "base.html" %}
{% load hitcount_tags %}

{% block content %}
    <h2 class="mt-3" >{{post.name}}</h2>

    <div class="card mt-3 ">
        <div class="card-body">
            {{post.title}}
            <p> <small class="text-muted" >Posted at: {{post.create}}|Author:{{post.username.user}}</small><i class="fa-solid fa-eye"></i>|
                {% get_hit_count for post %}  </p>

            <!--
            {% if post.author == request.user %}
                <small class="text-muted" >
                    <a href="{% url 'photos:update' post.id %}">Update</a> |
                    <a href="{% url 'photos:delete' post.id %}">Delete</a>
                </small>
            {% endif %}
            --->

            <!--comments-->
            <div class="section ">
                <div class="container ">
                    <h4>Top messages({{post_comments_count}})</h4>
                    <div class="row ">
                        <div class="col-lg-8 mx-auto">
                            <!--display coment-->
                             <div class="media-list">
                                {% for comment in post_comments %}
                                <div>
                                    <img class="avatar avatar-sm mr-4" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png">

                                    <div class="media-body">
                                        <div class="small-1">
                                            <b> {{comment.user}}</b>
                                            <time class="ml-4 opaciy-70 small-3"> {{comment.data}}</time>
                                        </div>
                                        <p> {{comment.content}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!--display the form-->
                            <form method="POST" action="{% url 'university:post'  post.id  %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{form}}
                                </div><br>
                                <button class="btn btn-primary btn-block " type="submit">Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


              <a href="/" class="btn btn-dark my-3">Go back </a>
      </div>
    </div>

{% endblock %}